body {
    background-color: lightblue;
}

.flexcontainer {
    display: flex;
    height: 300px; /* Or whatever */
    background-color: aqua;
}
  
.flexitem {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
    background-color: beige;
}
